
.App {
  text-align: center;
  height: 100%;
}

.pics {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.title {
	margin-top: 30px;
}
.buttons {
	margin-top: 50px;
}
.getcode{
	padding-left: 30px;
	margin: 50px 50px 50px 50px;
}
.left {
	text-align: left;
}
.wrapCode {
	padding: 20px;
	background: #fff;
}